
snippet head
	/*
	 *
	 *  `Filename('$1.go', 'foo.go')`
	 *  `system("get_project $1.py")`
	 *
	 *  ${1}
	 *
	 */
	
	package ${2}
snippet func
	func ${1:myfunc}(${2}) ${3} {
		${4}
	}
snippet lfunc
	func (${1}) ${2:myfunc}(${3}) ${4} {
		${5}
	}
