snippet []
	[${1}](${2})${3}
snippet begin
	\begin{${1}}
	    ${3}
	\end{${2}}
snippet itemize
	\begin{itemize}
	    ${1}
	\end{itemize}
snippet it
	\item ${1}
snippet bf
	{\bf ${1}}
snippet pa
	\pause
snippet center
	\begin{center}
		${1}
	\end{center}
