snippet head
	%
	%  `Filename('$1.pl', 'foo.pl')`
	%  `system("get_project $1.pl")`
	%
	%  ${1}
	%
	${2}
snippet headex
	#!/usr/bin/env swipl -q -g main -s
	%
	%  `Filename('$1.pl', 'foo.pl')`
	%  `system("get_project $1.pl")`
	%
	%  ${1}
	%

	main :- 
		current_prolog_flag(argv, Argv),
		append(_, [--|Av], Argv), !,
		main(Argv).
	
	main(Argv) :-
		${2},
		halt.
