snippet sample
	---
	date: '${1}'
	language: ${2}
	location: ${3}
	source_name: ${4}
	source_url: ${5}
	title: ${6}
snippet language
	---
	language: ${1}
	wiki: ${2}
	l1_speakers: ${3}
	main_country:
	- ${4}
	region:
	- ${5}
	family:
	- ${6}
