[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "bundle/drake"]
	path = bundle/drake
	url = https://bitbucket.org/larsyencken/vim-drake-syntax
